* {
  box-sizing: border-box;
}
:root {
  --main--color: #32ccfe;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  /* width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* Start landping page */

/* Start Nav bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}

.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main--color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.nav-bullets .bullet .tooltip {
  background-color: var(--main--color);
  color: #fff;
  width: 130px;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  text-align: center;
  top: -10px;
  cursor: default;
  pointer-events: none;
  display: none;
  transition: 2s;
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .bullet .tooltip:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main--color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* End Nav bullets */

.landing-page {
  min-height: 100vh;
  background-image: url(../images/4.jpg);
  transition: background-image 2s ease-in-out;
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: rgb(0 0 0 / 61%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing-page .container {
  position: relative;
  z-index: 1000;
}

.header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.header-area .links-container {
  width: 100%;
  text-align: right;
}

.header-area .links {
  list-style: none;
  padding-left: 0;
  /* padding-right: 30px; */
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}

.header-area .links li a {
  color: white;
  text-decoration: none;
}

.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main--color);
}

.header-area .toggle-menu {
  border: none;
  background: none;
  width: 40px;
  cursor: pointer;
  display: none;
  position: relative;
}

.header-area .toggle-menu.menu-active:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header-area .toggle-menu:focus {
  outline: none;
}

.header-area .toggle-menu span {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 4px;
  margin-bottom: 4px;
}

@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }

  .header-area .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }

  .header-area .links.open li {
    display: block;
    margin: 10px;
  }

  .header-area .links.open li a {
    color: var(--main--color);
    font-weight: bold;
  }

  .header-area .toggle-menu {
    display: inline-block;
  }
}

.introduction-text {
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: left;
  color: white;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
}

.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}

@media (max-width: 575px) {
  .introduction-text h1 {
    font-size: 26px;
  }
}
.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}

.introduction-text h1 span {
  color: var(--main--color);
}

.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: white;
  width: 200px;
  min-height: 100vh;
  transition: 0.5s;
  z-index: 10000;
  border: 1px solid #767676;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  color: black;
  font-size: 25px;
  background-color: var(--main--color);
  text-align: center;
  cursor: pointer;
}

.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
}

.settings-box.open {
  left: 0;
}

.settings-box .option-box {
  padding: 10px;
  background-color: #eee;
  margin: 10px;
  text-align: center;
}

.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}

.settings-box .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
}

.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child {
  background-color: #32ccfe;
}

.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: red;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: green;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: blue;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: orchid;
}

.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no {
  width: 50px;
  background-color: var(--main--color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.settings-box .random-backgrounds span.active {
  opacity: 1;
}

/* End landping page */

/* start about us section */

.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.about-us .info-box {
  flex: 1;
  padding: 30px;
}

@media (max-width: 575px) {
  .about-us {
    display: block;
    text-align: center;
  }

  .about-us .info-box {
    padding: 0;
  }
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}

.about-us .image-box img {
  width: 250px;
}

/* end about us section */

/*Start skills */

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}

.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 50px;
  text-align: center;
}

.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}

.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main--color);
  transition: all 1s;
}

/*end skills*/

/* Start gallery */

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 50px;
  text-align: center;
}

.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main--color);
}

.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main--color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}

.popup-box img {
  max-width: 100%;
}

/* End gallery */

/* start timeline */

.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  left: -200px;
  display: hidden;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content:before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main--color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main--color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    display: none;
  }

  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    display: none;
  }
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .left:before {
  right: -35px;
}

.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right:before {
  left: -35px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main--color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}

.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main--color);
  margin: 0 0 10px;
}

.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.8;
}

.clearfix {
  clear: both;
}

.timeline .timeline-content .left .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}

.timeline .timeline-content .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}

.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateX(200px);
  opacity: 1;
}

.f-reveal {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 2s ease;
}

.f-reveal.active {
  transform: translateY(20px);
  opacity: 1;
}

.timeline .head{
  text-align: center;
  font-size: 36px;
}


.timeline .paragraph{
  text-align: center;
  font-size: 25px;

}

/* end timeline */

/* Start features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 30px;
  text-align: center;
}

.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}

@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}

.features img {
  width: 150px;
}





/* End features */

/* Start Testimonials */

.testimonials {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team{
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team .ts-box{
  width: calc(100% / 3);
  height: 500px;
  float: left;
  background-color: #fff;
  padding: 20px;
  position: relative;
  z-index: 2; 
}


.team .ts-box > p {
  overflow-wrap: break-word;
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color:black;
  
}

.team p , h2{
  text-align: center;
}

.team .ts-box .person-info {
  overflow: hidden;
}

.team .ts-box img{
  width:350px;
  text-align: center;
} 

.team .ts-box {
  text-align: center;
}


.team .ts-box .person-info{
  text-align: center;
}

.team .ts-box .person-info h4{
  
}



.testimonials:before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main--color);
  height: 100%;
}

.testimonials:after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
  height: 100%;
}

.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.testimonials .plans {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin: 0 0 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}

.testimonials .ts-box {
  width: calc(98% / 3);
  height: 500px;
  float: left;
  background-color: #fff;
  padding: 20px;
  position: relative;
  z-index: 2; 
}

.testimonials .price span{
  font-weight: bold;
  font-size: 20px;
  
}

.testimonials .name {
  text-align: center;
  font-weight: bold;
 
    
  }
.testimonials .price p{
text-align: center;
padding:25px;
  
}

.testimonials .price{
  background-color: var(--main--color);
  height: 80px;
}





      
    
  



@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  .team .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}


.testimonials .ts-box > p {
  overflow-wrap: break-word;
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color:black;
  
}

.testimonials .ts-box .person-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}



@media (max-width: 991px) {
  .testimonials .ts-box .person-info img {
    text-align: center;
    float: none;
    margin-right: 0;
  }
}

.testimonials .ts-box .person-info h4 {
  margin: 14px 0 10px;
}

.testimonials .ts-box .person-info p {
  color: #707070;
  margin: 0;
}

.testimonials .prop {
  text-align: center;
  margin-top: 60px;
  line-height: 2 ;
}

.testimonials .prop ul{
  list-style-type:circle;
}

/* End Testimonials */

/* Start contact us*/
.contact {
  min-height: 600px;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.contact .container {
  position: relative;
  z-index: 2;
}

.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: #333;
  margin: 0 0 50px;
  text-align: center;
}

.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.contact form .left {
  float: left;
  width: 49%;
}

.contact form .right {
  float: right;
  width: 49%;
}

@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main--color);
}

.contact form input {
  height: 40px;
}

.contact form textarea {
  height: 150px;
}

.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main--color);
  color: white;
  cursor: pointer;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}

/* End contact us*/

/* Start Footer */

.footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}

/* End Footer */

/* Start Grid system */

@media (min-width: 576px) {
  /* Small Devices */

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* Medium Devices */

  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* Pc , Desktop Devices */

  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  /* Large Screen Devices */

  .container {
    max-width: 1140px;
  }
}

/* End Grid system */
